extends ../layout

block content
  input(type="hidden" value="Reference" name="id_fields")
  .field
    label(for="reference")
      | Nº DE RECIBO
      span.red
        | *
    input(type="text" id="reference" name="Reference" value="#{Reference || ''}" required)
    br
    label
    small.hint Número de recibo aparece en la esquina superior derecha del comprobante emitido por Banesco.
