body {
    font-family: 'Helvetica', 'Arial';
}

.title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 34px;
}

.red {
    position: relative;
    top: 4px;
    left: 4px;
    color: #E00000;
}

.flash {
    color: red;
    font-size: 13px;
}

.field-group {
    padding-bottom: 12px;
    display: table;
}

.field-group label {
    width: 120px;
    text-align: right;
    padding-right: 10px;
    font-size: 13.5px;
    display: table-cell;
    width: 130px;
}

@media screen and (max-width: 460px) {
    form {
        padding: 14px;
    }
    .field-group {
        width: 100%;
        padding-bottom: 8px;
    }
    .field-group label {
        display: block;
        text-align: left;
        padding-right: 0;
        margin-bottom: 4px;
    }
    input {
        margin-bottom: 6px;
        width: 100%;
    }
}

.hint {
    display: block;
    font-size: 11px;
    color: #999;
}

input[type=text] {
    height: 34px;
    padding: 6px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input[type=file] {
    height: 34px;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.btn {
    padding: 8px;
    min-width: 80px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #006dcc;
    transition: all 0.1s linear;
    border: 1px solid #cccccc;
    border-color: #0044cc #0044cc #002a80;
    text-transform: uppercase;
    font-size: 12px;
}

#submit:hover {
    background-color: #0044cc;
}
