doctype html
html(lang="en")
  head
    title Deposit Receipts
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body {
        font-family: 'Helvetica', 'Arial';
      }
      .title {
        margin-bottom: 20px;
        padding-bottom: 20px;
        font-weight: 300;
        font-size: 34px;
      }

  body
    h1.title Thank You
